<%- include('partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>les articles</h1>
            <div class="card" style="width: 18rem;">
                <img src="" class="neige_bretagne">
                <div class="card-body">
                    <h5 class="card-title">Neige</h5>
                    <p class="card-text">azeazeaz eaze aze aze aze aze a ze</p>
                    <a href="#" class="btn btn-primary">Lire la suite..</a>
                </div>
            </div>
        </div>
    </div>
</div>




<%- include('partials/footer.ejs') %>