<%- include('partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>les auteurs</h1>
            <% auteurs.forEach(function(Auteur) {%>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= Auteur.nom %></h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <%});%>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>